@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-white-off: #f2f2ea;
  --color-red-fcsn: #b15265;
  --color-blue-fcsn: #292944;
  --color-pink-fcsn: #b37b97;
  --color-yellow-fcsn: #f0b404;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .no-spinner::-webkit-inner-spin-button,
  .no-spinner::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }


  .no-spinner {
    -moz-appearance: textfield;
  }
}